/* group home & common styles */
.grouplist-name a {
    font-size: 13px;
    display: block;
}
.grouplist-usercount,
.grouplist-appcount,
.grouplist-directorycount {
    font-size: 12px;
    color: #5e5e5e;
} 
.group_info {
  width: 650px;
  position: relative;
}
#group_info\.edit\.errors {
  width: 850px;
  margin-top: 10px;
}
.icon-32.group-manage-members-heading {
    height: 60px;
    border-bottom: 1px solid #e5e5e5;
}
.group-name, .group-description {
  display: block;
  padding: 3px 0;
  width: 545px;
  float: left;
  clear: left;
}
.group-name {
  font-size: 18px !important;
  line-height: 21px;
  height: 22px;
  color: #5e5e5e;
  margin-top: -4px;
}
.group-description {
  font-size: 13px !important;
  line-height: 16px;
  color: #a7a7a7;
  font-weight: normal;
  float: left;
}
.group-description:empty:after {
    content: "No description"
}
input.group-name, input.group-description {
  width: 546px;
  padding: 1px 2px !important;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input.group-description {
    margin-top: 3px;
}
span.single-click-edit:hover {
  background: #fff;
  cursor: text;
  border: 1px solid #cacaca;
  padding: 2px 3px !important;
    border-radius: 3px;
}
.single-click-edit-controls {
    position: absolute;
    right: 0;
    top: -4px;
}
.single-click-edit-controls a {
    float: left;
    margin: 0 0 0 5px;
    padding: 8px !important;
    border: 1px solid #cacaca;
    background: #fff;
    box-shadow: 0 1px 1px rgba(160,160,160, 0.16);
}
.single-click-edit-controls a:hover {
  border-color: #888;
}
.single-click-edit-controls a:first-child {
    margin: 0;
}

.group-info-edit .single-click-edit-wrap {
  margin-bottom: 2px;
}
.grouplist-name p {
  color: #a7a7a7;
  font-size: 12px;
}
.grouplist-name p:empty:after {
    content: "No description";
}

.data-list-content .group-logos-24 {
    margin-top: 8px;
    margin-left: 5px;
}

.dbl-list-picker {
    padding: 15px 25px 25px 25px;
}
.pick-list {
    width: 48.5%;
  float: left;
  border-width: 1px;
    border-style: solid;
    border-color: #ddd #ddd #d2d2d2 #ddd;
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: 0 1px 0 rgba(175, 175, 175, 0.16);
    box-sizing: border-box;
}

.pick-list + .pick-list {
    margin-left: 3%;
}
.pick-list h2 {
  font-size: 16px;
  margin: 15px;
  padding: 0;
}
.pick-list .data-grid-container table {
    border-bottom: 1px solid #e1e1e1;
}
.pick-list .data-grid-container .dataTables_info {
  color: #888888;
  height: 30px !important;
  line-height: 30px !important;
  padding: 0;
  position: absolute;
  right: 10px;
  text-align: right;
  top: -40px;
}
.pick-list .col-hdr-search {
    left: 140px;
    position: absolute;
    top: 3px;
    z-index: 3;
}
.pick-list .col-hdr-search input {
    width: 150px;
    height: 15px;
}
/*
.pick-list .data-grid-container th {
    width: 395px !important;
}
*/

/* group people */
#add-members {
  margin: 10px 30px;
}
#edit-group-cancel {
  margin-top: 3px;
}
.manage-group-members .help-sidebar .form-wrap {
    width: 670px;
    min-height: 1px;
    padding: 0;
    background: transparent;
}
.manage-group-members .help-wrap {
    width: 220px;
}
.manage-group-members .user-search-wrap {
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    background: #f2f2f2;
    margin-bottom: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.manage-group-members .user-search {
   position: static;
   margin: 0 auto;
   width: 315px;
}
.manage-group-members .user-search .text-field-default {
    width: 263px;
}
.manage-group-members .user-search .dropdown.more-actions .option-selected {
    position: static;
}
.manage-group-members .col-left,
.manage-group-members .col-middle,
.manage-group-members .col-right {
    float: left;
}
.manage-group-members .col-left,
.manage-group-members .col-right {
    box-sizing: border-box;
    width: 50%;
}
.manage-group-members .col-left {
    padding-left: 25px;
}
.manage-group-members .col-right {
    padding-left: 13px;
}
.manage-group-members .page-toolbar .link-button-icon {
    margin: 0 !important;
}
.manage-group-members .page-toolbar .link-button-icon + .link-button-icon {
    margin: 0 0 0 10px !important;
}
.manage-group-members .page-toolbar .link-button-icon span.icon {
    margin: 0 8px 0 0;
}
.manage-group-members .page-toolbar .link-button-icon .count {
    text-shadow: none;
    font-size: 11px;
    margin-left: 10px;
}


/* group apps */
.app-members .data-grid-container .app-icon-mini,
.app-members .data-grid-container .details {
    float: left;
}
.app-members .data-grid-container .app-icon-mini {
    width: 50px;
    margin-right: 5px;
}
.app-members .data-grid-container .app-icon-mini img {
    width: 45px;
    margin: 5px 0;
}
.group-app-list-properties {
    border-top: 1px solid #ddd;
    padding: 15px;
}

.group-app-list-properties .button-bar {
  margin: 0 -15px -15px;
}
.group-app-list-properties form {
    background: transparent;
    border: none;
}
.group-apps-remove #app-list {
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: #dedede;
}


/* beta classes, remove when new design is implemented */
.data-grid-container .hide-check-col th,
.data-grid-container .hide-check-col td {
    display: none;
}

.data-grid-container .hide-check-col th + th,
.data-grid-container .hide-check-col td + td,
.data-grid-container .hide-check-col td.dataTables_empty {
    display: table-cell;
    border-left: none !important;
}
.pick-list .selected-members {
    margin: 0 5px 10px;
    font-size: 12px;
}
.pick-list .selected-members strong {
    font-size: 14px;
    color: #444 !important;
}

/* misc */

.groups-spinner {
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(175, 175, 175, 0.25);
    background: url("/assets/img/ui/indicators/okta-spinner.631e53afc4149c55253645fb7d1177ac.gif") no-repeat scroll 15px 11px #fff;
    background-size: 24px 24px;
    border: 1px solid #cacaca;
    color: #5e5e5e;
    font-size: 14px;
    font-weight: normal;
    height: auto;
    left: 50%;
    margin-left: -76px;
    padding: 15px 0 15px 50px !important;
    position: absolute;
    top: 262px !important;
    width: 100px;
    z-index: 10;
    display: none;
}

.not-members .row-clickable tr:hover td {
    background-color: #eef8da !important;
}

.not-members .row-clickable tr:hover td.show-icon {
    background: url("/assets/img/icons/16x16/add-01.42b04b5b94d4741e1e070bb67dcf4275.png") no-repeat 95% center, #eef8da !important;
}
/* We need to use !important to override the legacy style of td from clients > admin > sass > legacy > _saasure.scss */

.are-members .row-clickable tr:hover td {
    background-color: #fff2f2 !important;
}

.are-members .row-clickable tr:hover td.show-icon {
    background: url("/assets/img/icons/16x16/delete-01.77ec35dabccd5139a737d1a67eb59e03.png") no-repeat 95% center, #fff2f2 !important;
}

/* We need to use !important to override the legacy style of td from clients > admin > sass > legacy > _saasure.scss */

/* make sure no icon show for empty list */
.not-members .row-clickable tr:hover td.dataTables_empty, .are-members .row-clickable tr:hover td.dataTables_empty {
    cursor: default !important;
    background:none !important;
}

.column-width{
    width: 30px;
}

/* Create assignment modal */
.simplemodal-container-new .app-icon-mini {
  height: 32px;
  width: 72px;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  margin: 5px;
}

.simplemodal-container-new .app-label {
  padding-top: 22px;
}

.simplemodal-container-new .infobox {
  margin-bottom: 20px;
}

input[name="assign"] {
  float: right;
}

#assign-apps-list {
  border: none;
}

#assign-apps-list .data-list-content-wrap{
  overflow: auto;
}